// font-size: 32px;

.prizeMoney {
  font-size: 64px;
  padding: 15vh;
  letter-spacing: 12px;
}

@media screen and (max-width: 500px) {
  .prizeMoney {
    font-size: 32px;
    letter-spacing: 7px;
    padding: 5vh;
  }
}
