.team-accordion {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  border-style: none;
	display: flex;
	flex-direction: column;
	$gap: 32px;
	padding-left: $gap;
	padding-right: $gap;
	gap: $gap;
	align-items: center;
}