body {
    background-color: var(--color-primary);
}

.gridParent {
    justify-content: center;
    grid-gap: 11.11%;
}

.titleStyle {
    margin-top: 5vh;
    text-align: center;
    font-size: 72px;
    font-weight: 200;
}

.faq {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    article {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .faq {
        margin-top: 1rem;
        margin-bottom: 1rem;
        article {
            width: 90%;
        }
    }
    .titleStyle {
        font-size: 56px;
    }
}