body {
    background-color: var(--color-primary);
}

.gridParent {
    justify-content: center;
    grid-gap: 11.11%;
}

.titleStyle {
    margin-top: 5vh;
    text-align: center;
    font-size: 64px;
    font-weight: 200;
}

.faq {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    article {
        width: 40%;
    }
}

// .boxStyling {
//     display: flex;
//     width: 65vh;
//     height: 7vh;
//     align-items: center;
//     justify-content: left;
// }

// .buttonStyling {
//     border: none;
//     border-radius: 5px;
//     font-size: 24px;
//     font-weight: 500;
// }