@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&family=Share+Tech&display=swap');

:root {
  --font-family: 'Raleway', sans-serif;
  --font-family-head: 'Share Tech', sans-serif;
  --border-radius: 4px;
}


.textCenter {
  margin-bottom: 40vh;
  margin-top: 10vh;
  text-align: center;
} 

/* .intro {
  max-width: none;
  line-height: var(--line-height-loose);
} */

/* added padding to mvhacks image, so it looks less crammed */
/* .img {
  padding-top: 4vh;
} */

#backgroundText {
  font-family: var(--font-family-head);
  font-size: 300px;
  font-weight: 200;
  margin-top: 100px auto; 
  text-align: center;
  letter-spacing: 15px;
}

#foregroundText {
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 175px;
  position: absolute; 
  top: 28vh;
  width: 100%;
  letter-spacing: 25px;
  // color: var(--color-text);
}

#subtitle {
  letter-spacing: normal;
  font-family: var(--font-family);
  // color: var(--color-text);
  font-size: 25px;
  margin-bottom: 8vh;
}

// #applyButton {
//   text-decoration: none; 
//   background: var(--color-text);
//   color: var(--color-primary);
// }


/* #applyButton:hover { text-decoration: none; }


#applyButton:active { text-decoration: none; } */

