@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&family=Share+Tech&display=swap');

:root {
  --font-family: 'Raleway', sans-serif;
  --font-family-head: 'Share Tech', sans-serif;
  --border-radius: 4px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#backgroundText {
  font-family: var(--font-family-head);
  font-size: max(20vw, 220px);
  height: 445px;
  margin: auto;
  font-weight: 200;
  margin-top: 100px auto;
  text-align: center;
  letter-spacing: 15px;
  display: flex;
  align-items: center;
}

#foregroundText {
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: max(18vw, 130px);
  position: absolute;
  top: 255px;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -40%);
  line-height: max(14vw, 7rem);
}

#subtitle {
  letter-spacing: normal;
  font-family: var(--font-family);
  font-size: 25px;
  margin-bottom: 4rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #backgroundText {
    font-size: 135px;
  }
  #foregroundText {
    font-size: 72px;
    line-height: 4rem;
  }
  #subtitle {
    font-size: 24px;
  }
}
