// old theme:
// $primaryMain: #022f52;
// $secondaryMain: #ACBCFF;
// $accentMain: #1A38A5;
// $accentSecondary: rgba(28, 68, 212, 0.33);

// new theme:
// $primaryMain: #0d173f;
// $secondaryMain: #c2b4ff;
// $secondarySecondary: #F5F1E3;
// $accentMain: #1e3684;
// $accentSecondary: #1e368499;

// potential new theme:
$primaryMain: #171738;
$secondaryMain: #F0DCCA;
//  #D6EDFF;
$secondarySecondary: #00916f;
// #26265C;
$accentMain: #00CF9F;
$accentSecondary: #1e368499;

:export {
	primaryMain: $primaryMain;
	secondaryMain: $secondaryMain;
	secondarySecondary: $secondarySecondary;
	accentMain: $accentMain;
	accentSecondary: $accentSecondary;
}
