$primaryMain: #171738;
$primarySecondary: #26577a;
$secondaryMain: #dedede;
$secondarySecondary: #d9e0ef;
$accentMain: #00cf9f;
$accentSecondary: #00916f;

:export {
  primaryMain: $primaryMain;
  primarySecondary: $primarySecondary;
  secondaryMain: $secondaryMain;
  secondarySecondary: $secondarySecondary;
  accentMain: $accentMain;
  accentSecondary: $accentSecondary;
}
