.test {
  text-align: left;
}

.t2 {
  text-align: right;
}

.vertical-timeline-element-content {
  text-align: 'right';
}
.vertical-timeline-element-date {
  text-align: 'left';
  font-size: '30px';
}
