// .banner {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 200px;
//     background-color: #eee;
// }

.banner {
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vh;
}

.banner img {
    max-width: 50vh;
    margin-top: 0vh;
    // margin-left: 20vh;
    margin-bottom: 2vh;
}